@using AspnetCoreMvcFull.Models;
@model PartialModel;

@{
    ViewData["Title"] = "Contra-Cheque";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/vendor/css/contra.css">
}

<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="profile-header text-center mb-4">
            <h2 class="display-4">@ViewData["Title"]</h2>
            <p class="text-muted">@Model.funcionario.Nome</p>
        </div>

        @if (Model.UtilUrl?.IconUrl != null)
        {
            <div class="card shadow-lg" style="width: 100%; max-width: 1200px;">
                <div class="card-body p-4" style="position: relative; padding-bottom: 60px;">

                    <div class="text-center mb-4">
                        <iframe src="@Url.Content(Model.UtilUrl.IconUrl)" aria-label="Visualização do Contra-Cheque"></iframe>
                    </div>

                    <div class="text-center">
                        @{
                            string url = $"{Guid.NewGuid()}.pdf";
                            <a href="@Url.Content(Model.UtilUrl.IconUrl)" class="btn btn-success btn-lg" download="@url" aria-label="Baixar Contra-Cheque">
                                <i class="fas fa-download"></i> Baixar Contra-Cheque
                            </a>
                        }
                    </div>
                    
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-warning text-center" role="alert">
                <i class="fas fa-exclamation-triangle"></i> Nenhum Contra-Cheque disponível no momento.
            </div>
        }
        </div>
    </div>

            @section VendorScripts {
    <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            }

            @section PageScripts {
    <script src="~/js/dashboards-analytics.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            }
