  @using AspnetCoreMvcFull.Models
  @model PartialModel;

  @section VendorStyles {
      <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" href="~/vendor/css/manuais.css">
  }
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Documentos</title>
  </head>
  <body>
      <div class="container mt-5">
          <div class="page-header text-center">
              <h1 class="display-4">Tutoriais e Manuais</h1>
          </div>

          <!-- Botão para abrir o modal de adição -->
          <div class="mb-4 text-right">
              <button class="btn btn-success" data-toggle="modal" data-target="#addDocumentModal">
                  <i class="fas fa-plus"></i> Adicionar
              </button>
          </div>

          <!-- Filtro e Barra de Pesquisa -->
          <div class="filter-container d-flex justify-content-between align-items-center mb-4">
              <input type="text" id="searchInput" class="form-control" placeholder="Buscar...">
              <select id="categoryFilter" class="form-control w-25">
                  <option value="">Todas as Categorias</option>
                  <option value="manual">Manuais</option>
                  <option value="tutorial">Tutoriais</option>
              </select>
          </div>

          <!-- Exibição dos Documentos -->
          <div class="card-columns" id="documentContainer">
              @foreach (var document in Model.Documents)
              {
                  <div class="card @document.Category">
                      <div class="card-body text-center">
                          <i class="fas @GetFileIconClass(document.FileType) card-icon"></i>
                          <h5 class="card-title">@document.Title</h5>
                          <p class="card-text">
                              <button class="btn btn-primary" data-toggle="modal" data-target="#documentModal" data-filepath="@document.FilePath" data-title="@document.Title" data-filetype="@document.FileType">
                                  <i class="fas fa-eye"></i> Visualizar
                              </button>
                              <a href="@document.FilePath" class="btn btn-secondary" download>
                                  <i class="fas fa-download"></i> Baixar
                              </a>
                            <i class="fas fa-times text-danger cursor-pointer" data-toggle="modal" data-target="#removeDocumentModal" data-filepath="@document.FilePath"></i>
                          </p>
                      </div>
                  </div>
              }
          </div>
      </div>

    <!-- Modal para Remover Documento -->
    <div class="modal fade" id="removeDocumentModal" tabindex="-1" role="dialog" aria-labelledby="removeDocumentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeDocumentModalLabel">Confirmar Remoção</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza de que deseja remover este documento?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmRemoveButton">Remover</button>
                </div>
            </div>
        </div>
    </div>

      <!-- Modal para Adicionar Documento -->
      <div class="modal fade" id="addDocumentModal" tabindex="-1" role="dialog" aria-labelledby="addDocumentModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="addDocumentModalLabel">Adicionar</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <form id="uploadForm" enctype="multipart/form-data">
                      <div class="modal-body">
                          <div class="form-group">
                              <label for="title">Título</label>
                              <input type="text" class="form-control" id="title" name="title" required>
                          </div>
                          <div class="form-group">
                              <label for="category">Categoria</label>
                              <select class="form-control" id="category" name="category" required>
                                  <option value="manual">Manual</option>
                                  <option value="tutorial">Tutorial</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="file">Arquivo</label>
                              <input type="file" class="form-control-file" id="file" name="file" required>
                              <small id="fileHelp" class="form-text text-muted">O arquivo deve ser PDF, DOC, DOCX, MP4, XLS, XLSX, PPT, PPTX ou TXT.</small>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                          <button type="button" class="btn btn-primary" id="submitButton">Adicionar</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <script>
          // Função para validar o tipo de arquivo
          document.getElementById('file').addEventListener('change', function () {
              var fileInput = this;
              var filePath = fileInput.value;
              var allowedExtensions = /(\.pdf|\.doc|\.docx|\.mp4|\.xls|\.xlsx|\.ppt|\.pptx|\.txt)$/i;

              if (!allowedExtensions.exec(filePath)) {
                  alert('Por favor, escolha um arquivo com uma extensão válida.');
                  fileInput.value = '';
                  return false;
              }
          });
      </script>

      <script>
          document.getElementById('submitButton').addEventListener('click', function () {
              var formData = new FormData(document.getElementById('uploadForm'));
       
              fetch('/Tutorial/Upload', {
                  method: 'POST',
                  body: formData
              })
                  .then(response => response.json())
                  .then(data => {
                      if (data.success) {
                          alert('Documento adicionado com sucesso!');
                          location.reload(); // Recarrega a página para atualizar a lista de documentos
                      } else {
                          alert('Ocorreu um erro ao adicionar o documento.');
                      }
                  })
                  .catch(error => {
                      console.error('Erro:', error);
                      alert('Ocorreu um erro ao adicionar o documento.');
                  });
          });
      </script>

      <!-- Modal para Visualizar Documento -->
      <div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="documentModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="documentModalLabel">Documento</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <!-- Condicional para exibir vídeo ou documento -->
                      <div id="documentViewer">
                          <!-- Aqui será exibido o conteúdo dinamicamente -->
                      </div>
                  </div>
                  <div class="modal-footer">
                      <a id="downloadLink" href="" class="btn btn-primary" download>
                          <i class="fas fa-download"></i> Baixar
                      </a>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  </div>
              </div>
          </div>
      </div>


      <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <script>
          // Atualiza o modal de visualização de documento
          $('#documentModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var filepath = button.data('filepath');
              var title = button.data('title');
              var filetype = button.data('filetype');

              var modal = $(this);
              modal.find('.modal-title').text(title);
              modal.find('#downloadLink').attr('href', filepath);

              // Limpa o conteúdo anterior do viewer
              var documentViewer = modal.find('#documentViewer');
              documentViewer.empty();

              if (filetype === 'mp4') {
                  // Se for vídeo, adiciona um elemento <video>
                  documentViewer.append('<video controls style="width: 100%; height: 500px;"><source src="' + filepath + '" type="video/mp4">Seu navegador não suporta o elemento de vídeo.</video>');
              } else {
                  // Se for documento, adiciona um <iframe>
                  documentViewer.append('<iframe src="' + filepath + '" style="width: 100%; height: 500px;" frameborder="0"></iframe>');
              }
          });
             // Abrir o modal de remoção e configurar a URL
        $('#removeDocumentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var filePath = button.data('filepath');

            var modal = $(this);
            modal.find('#confirmRemoveButton').data('filepath', filePath);
        });

        // Confirmar remoção
        $('#confirmRemoveButton').on('click', function () {
            var filePath = $(this).data('filepath');

            fetch('/Document/RemoveDocument', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ filePath: filePath })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload();
                    } else {
                        alert('Erro ao remover o documento.');
                    }
                });
        });
      </script>

      <script>
          // Função para filtrar documentos
          function filterDocuments() {
              var searchInput = $('#searchInput').val().toLowerCase();
              var categoryFilter = $('#categoryFilter').val();

              $('#documentContainer .card').each(function () {
                  var title = $(this).find('.card-title').text().toLowerCase();
                  var category = $(this).hasClass(categoryFilter) || categoryFilter === '';

                  if (title.includes(searchInput) && category) {
                      $(this).show();
                  } else {
                      $(this).hide();
                  }
              });
          }

          $('#searchInput').on('input', filterDocuments);
          $('#categoryFilter').on('change', filterDocuments);

          // Atualiza o modal de visualização de documento
          $('#documentModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var filepath = button.data('filepath');
              var title = button.data('title');
              var filetype = button.data('filetype');

              var modal = $(this);
              modal.find('.modal-title').text(title);
              modal.find('#downloadLink').attr('href', filepath);

              // Limpa o conteúdo anterior do viewer
              var documentViewer = modal.find('#documentViewer');
              documentViewer.empty();

              if (filetype === 'mp4') {
                  // Se for vídeo, adiciona um elemento <video>
                  documentViewer.append('<video controls style="width: 100%; height: 500px;" id="modalVideo"><source src="' + filepath + '" type="video/mp4">Seu navegador não suporta o elemento de vídeo.</video>');
              } else {
                  // Se for documento, adiciona um <iframe>
                  documentViewer.append('<iframe src="' + filepath + '" style="width: 100%; height: 500px;" frameborder="0"></iframe>');
              }
          });

          // Pausa o vídeo quando o modal é fechado
          $('#documentModal').on('hidden.bs.modal', function () {
              var video = document.getElementById('modalVideo');
              if (video) {
                  video.pause();
                  video.currentTime = 0; // Reinicia o vídeo para o começo
              }
          });
      </script>

      @functions {
          public string GetFileIconClass(string fileType)
          {
              switch (fileType.ToLower())
              {
                  case "pdf":
                      return "fa-file-pdf";
                  case "doc":
                  case "docx":
                      return "fa-file-word";
                  case "mp4":
                      return "fa-file-video";
                  case "xls":
                  case "xlsx":
                      return "fa-file-excel";
                  case "ppt":
                  case "pptx":
                      return "fa-file-powerpoint";
                  case "txt":
                      return "fa-file-alt";
                  default:
                      return "fa-file";
              }
          }
      }
  </body>
  </html>
