@using AspnetCoreMvcFull.Models;
@using AspnetCoreMvcFull.Enums;
@model PartialModel;

@{
    TempData.Keep();

    string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Inicio" asp-action="Inicio" class="app-brand-link">
            <span class="app-brand-logo demo me-1">
                <img src="~/img/Logo/Logo.png" alt="Logo" style="width: 20px; height:24;" />
            </span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="mdi menu-toggle-icon d-xl-block align-middle mdi-20px"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class='menu-item @(currentPage.EndsWith("/") ||
                     currentPage.StartsWith("/Dashboards") ||
                     currentPage.StartsWith("/Relatorios") ||
                     currentPage.StartsWith("/Atestado") ||
                     currentPage.StartsWith("/Sites") ||
                     currentPage.StartsWith("/Inicio") ? "active open" : "")'>

            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons mdi mdi-home-outline"></i>
                <div>Pessoal</div>
                <div class="badge bg-danger rounded-pill ms-auto"></div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Inicio/Inicio" ? " active" : "")'>
                    <form action="/Inicio/RedirectoInicio" method="post" class="menu-link">
                        <button type="submit" style="all: unset; cursor: pointer;">
                            <div>Início</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                        </button>
                    </form>
                </li>
                <li class='menu-item@(currentPage == "/Dashboards/Dashboard" ? " active" : "")'>
                    <form action="/Dashboards/Dashboard" method="post" class="menu-link">
                        <button type="submit" style="all: unset; cursor: pointer;">
                            <div>Dashboard</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                        </button>
                    </form>
                </li>
                <li class='menu-item@(currentPage == "/Sites/Sites" ? " active" : "")'>
                    <form action="/Sites/Sites" method="post" class="menu-link">
                        <button type="submit" style="all: unset; cursor: pointer;">
                            <div>Sites</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                        </button>
                    </form>
                </li>
                <li class='menu-item@(currentPage.Contains("Settings") || currentPage.Contains("Pessoal") ? " active open" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <div>Configurações</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/Dashboards/Pessoal" ? " active" : "")'>
                            <a asp-controller="Dashboards" asp-action="Pessoal" class="menu-link">
                                <div>Perfil</div>
                            </a>
                        </li>
                        <li class='menu-item@(currentPage == "/Dashboards/Settings" ? " active" : "")'>
                            <a asp-controller="Dashboards" asp-action="Settings" class="menu-link">
                                <div>Conta</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='menu-item@(currentPage == "/Relatorios/Relatorios" ? " active" : "")'>
                    <form action="/Relatorios/RedirecToRelatorios" method="post" class="menu-link">
                        <button type="submit" style="all: unset; cursor: pointer;">
                            <div>Relatórios</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                        </button>
                    </form>
                </li>

                <li class='menu-item@(currentPage == "/Dashboards/Requisicoes" ? " active" : "")'>
                    <form action="/Dashboards/RedirecToRequisicoes" method="post" class="menu-link">
                        <button type="submit" style="all: unset; cursor: pointer;">
                            <div>Requisições</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                        </button>
                    </form>
                </li>

                <li class='menu-item@(currentPage == "/Atestado/Atestado" ? " active" : "")'>
                    <form action="/Atestado/Atestado" method="post" class="menu-link">
                        <button type="submit" style="all: unset; cursor: pointer;">
                            <div>Atest. Med</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                        </button>
                    </form>
                </li>

                <li class='menu-item@(currentPage == "/Dashboards/ContraCheque" ? " active" : "")'>
                    <form action="/Dashboards/RedirecToCheque" method="post" class="menu-link">
                        <button type="submit" style="all: unset; cursor: pointer;">
                            <div>Contra-Cheque</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                        </button>
                    </form>
                </li>

                <li class='menu-item@(currentPage == "/Dashboards/Escala" ? " active" : "")'>
                    <form action="/Dashboards/RedirecToEscala" method="post" class="menu-link">
                        <button type="submit" style="all: unset; cursor: pointer;">
                            <div>Escala de Trabalho</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                        </button>
                    </form>
                </li>
            </ul>
        </li>

        
        @{

            switch (Model.funcionario.Permissao)
            {

                case TipoPermissaoEnum.Analista_De_Sistemas:
                    <li class='menu-item @(currentPage.EndsWith("/") ||
             currentPage.StartsWith("/NocDocument") ||
             currentPage.StartsWith("/NocTutorial") ? "active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-server"></i>
                            <div>NOC</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item @(currentPage == "/NocDocument/NocDocument" ? " active" : "")'>
                                <form action="/NocDocument/NocDocument" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Documentação</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                            <li class='menu-item @(currentPage == "/NocTutorial/NocTutorial" ? " active" : "")'>
                                <form action="/NocTutorial/NocTutorial" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Tutoriais</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    break;

                case TipoPermissaoEnum.Financeiro:
                    <li class='menu-item @(currentPage.EndsWith("/") ||
             currentPage.StartsWith("/Financeiro") ||
             currentPage.StartsWith("/FinDocument") ||
             currentPage.StartsWith("/FinTutorial") ? "active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-wallet"></i>
                            <div>Financeiro</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item @(currentPage == "/Financeiro/RegistroT" ? " active" : "")'>
                                <form action="/Financeiro/RegistroT" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-file-document-outline"></i>
                                        <div style="flex-grow: 1;">Relat. Comp</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                            <li class='menu-item @(currentPage == "/FinDocument/FinDocument" ? " active" : "")'>
                                <form action="/Document/RedirecToDocument" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Documentação</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                            <li class='menu-item @(currentPage == "/FinTutorial/FinTutorial" ? " active" : "")'>
                                <form action="/FinTutorial/FinTutorial" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Tutoriais</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    break;

                case TipoPermissaoEnum.Suporte_Técnico:
                    <li class="menu-header fw-medium mt-4">
                        <span class="menu-header-text">Suporte Técnico</span>
                    </li>
                    <li class='menu-item @(currentPage == "/Relatorios/Relatorios" ? " active" : "")'>
                        <form action="/Relatorios/Relatorios" method="post" class="menu-link" style="display: flex; align-items: center;">
                            <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                <div style="flex-grow: 1;">Relatórios</div>
                                <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                            </button>
                        </form>
                    </li>
                    <li class='menu-item @(currentPage == "/Tutorial/Tutorial" ? " active" : "")'>
                        <form action="/Tutorial/RedirecToTutorial" method="post" class="menu-link" style="display: flex; align-items: center;">
                            <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                <i class="menu-icon tf-icons mdi mdi-school"></i>
                                <div style="flex-grow: 1;">Tutoriais</div>
                                <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                            </button>
                        </form>
                    </li>
                    break;

                case TipoPermissaoEnum.Administrador:
                    <li class='menu-item @(currentPage.EndsWith("/") ||
             currentPage.StartsWith("/FeriasAdmin") ||
             currentPage.StartsWith("/GerDocument") ||
             currentPage.StartsWith("/GerTutorial") ? "active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-briefcase"></i>
                            <div>Recursos Humanos</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item @(currentPage == "/FeriasAdmin/Index" ? " active" : "")'>
                                <form action="/FeriasAdmin/Index" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-beach"></i>
                                        <div style="flex-grow: 1;">Gestão de Férias</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                            <li class='menu-item @(currentPage == "/GerDocument/GerDocument" ? " active" : "")'>
                                <form action="/GerDocument/GerDocument" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Documentação</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                            <li class='menu-item @(currentPage == "/GerTutorial/GerTutorial" ? " active" : "")'>
                                <form action="/GerTutorial/GerTutorial" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Tutoriais</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class='menu-item @(currentPage.EndsWith("/") ||
             currentPage.StartsWith("/Financeiro") ||
             currentPage.StartsWith("/FinDocument") ||
             currentPage.StartsWith("/FinTutorial") ? "active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-wallet"></i>
                            <div>Financeiro</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item @(currentPage == "/Financeiro/RegistroT" ? " active" : "")'>
                                <form action="/Financeiro/RegistroT" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-file-document-outline"></i>
                                        <div style="flex-grow: 1;">Relat. Comp</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                            <li class='menu-item @(currentPage == "/FinDocument/FinDocument" ? " active" : "")'>
                                <form action="/FinDocument/FinDocument" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Documentação</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                            <li class='menu-item @(currentPage == "/FinTutorial/FinTutorial" ? " active" : "")'>
                                <form action="/FinTutorial/FinTutorial" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Tutoriais</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class='menu-item @(currentPage.EndsWith("/") ||
             currentPage.StartsWith("/NocDocument") ||
             currentPage.StartsWith("/NocTutorial") ? "active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-server"></i>
                            <div>NOC</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item @(currentPage == "/NocDocument/NocDocument" ? " active" : "")'>
                                <form action="/NocDocument/NocDocument" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Documentação</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                            <li class='menu-item @(currentPage == "/NocTutorial/NocTutorial" ? " active" : "")'>
                                <form action="/NocTutorial/NocTutorial" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Tutoriais</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    break;

                case TipoPermissaoEnum.Tecnico:

                case TipoPermissaoEnum.Auxiliar_Tecnico:

                case TipoPermissaoEnum.Tecnico_CFTV:

                case TipoPermissaoEnum.AuxiliarTCFTV:
                    <li class='menu-item @(currentPage.EndsWith("/") ||
             currentPage.StartsWith("/Document") ||
             currentPage.StartsWith("/Tutorial") ? "active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons mdi mdi-camera"></i>
                            <div>CFTV</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item @(currentPage == "/Document/Document" ? " active" : "")'>
                                <form action="/Document/RedirecToDocument" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Documentação</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                            <li class='menu-item @(currentPage == "/Tutorial/Tutorial" ? " active" : "")'>
                                <form action="/Tutorial/RedirecToTutorial" method="post" class="menu-link" style="display: flex; align-items: center;">
                                    <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                                        <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                                        <div style="flex-grow: 1;">Tutoriais</div>
                                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    break;

            }
        }

        <li class='menu-item@(currentPage.StartsWith("/Chat") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons mdi mdi-lock-open-outline"></i>
                <div>Conversas</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Chat/Chat" ? " active" : "")'>
                    <form action="/Chat/Chat" method="post" class="menu-link" style="display: flex; align-items: center;">
                        <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                            <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                            <div style="flex-grow: 1;">Chat</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                        </button>
                    </form>
                </li>
            </ul>
        </li>

        <li class='menu-item@(currentPage.StartsWith("/Ramais") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons mdi mdi-phone"></i>
                <div>Telefonia</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Ramais/Ramais" ? " active" : "")'>
                    <form action="/Ramais/Ramais" method="post" class="menu-link" style="display: flex; align-items: center;">
                        <button type="submit" style="all: unset; cursor: pointer; display: flex; align-items: center; width: 100%;">
                            <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                            <div style="flex-grow: 1;">Ramais</div>
                            <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto"></div>
                        </button>
                    </form>
                </li>
            </ul>
        </li>
</aside>
<!-- / Menu -->
